progress[value] {
   appearance: none;

   height: 6px;
   width: 100%;
}

progress[value]::-webkit-progress-bar {
   background: orange;
   box-shadow: 0 2pxx 5px rgba(0, 0, 0, 0.25) inset;
   border-radius: 9px;
}
progress[value]::-webkit-progress-value {
   background: #000;
   box-shadow: 0 2pxx 5px rgba(0, 0, 0, 0.25) inset;
   border-radius: 9px;
}